body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.logo {
  height: 80px;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1;
}

.upload-window {
  background: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.upload-window:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upload-window h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #444;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="file"]:hover {
  border-color: #aaa;
  background-color: #f1f1f1;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #45a049;
  border-color: #ddd;
}

input[type="file"]::-moz-file-upload-button {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="file"]::-moz-file-upload-button:hover {
  background-color: #45a049;
  border-color: #ddd;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
